@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search Me</h1>

<input type="text" id="SearchBox" onkeyup="SearchMe()"/>


<div style="margin:1em; font:bold;" id="SearchResults">

</div>


<h1>Add Me</h1>
<input type="text" id="AddMe" />
<button style="margin:1em;" onclick="AddMeButton()" >Add</button>

<div style="margin:1em; font:bold;" id="AddResults">

</div>

